<div class="form-container">
  <% if @session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% @session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for(@session, :html => { :multipart => true, :id => "session-form" }) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, :placeholder => "Title", :class => 'span6' %>
    <%= f.label :description %>
    <%= f.text_area :description, :placeholder => "Description", :rows => 10, :class => 'span6' %>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= f.label :facebook_event_id %>
    <%= f.text_field :facebook_event_id, :placeholder => "Facebook Event ID", :class => 'span6' %>
    <%= f.label :end_date %>
    <%= f.date_select :end_date, {} , { :class => "span2" } %>
    <%= f.hidden_field :attachment_url %>
    <%= f.label :soundcloud_playlist_url, "Soundcloud Playlist URL" %>
    <%= f.text_field :soundcloud_playlist_url, :placeholder => "Soundcloud Playlist URL", :class => 'span6' %>
  <% end %>

  <div class="attachment-container"></div>

  <a href="javascript:;" class="btn btn-primary" data-trigger='save'>Save</a>
</div>

<%= render '/shared/s3_uploader_form_jst' %>

<script type="text/javascript">
Sensori.Session = new Sensori.Models.Session(<%= raw @session.to_json %>);
Sensori.SessionView = new Sensori.Views.Session({
  model: Sensori.Session,
  el: $(".form-container")
}).render();
</script>
