<% if admin? %>
<div class="row">
<%= render :partial => 'shared/action_buttons', :locals => { :object => @session } %>
</div>
<% end %>
<div class="row">
  <div class="span8">
    <%= image_tag @session.image_url %>
    <%= render :partial => 'submission_form' %>
  </div>
  <div class="span4">
    <h2><%= @session.title %></h2>
    <p><%= simple_format(@session.description) %></p>
    <% if @session.attachment_url? %>
      <%= link_to(@session.attachment_url, :class => "btn btn-primary") do %>
        <i class="icon-white icon-download-alt"></i> Download Samples
      <% end %>
    <% end %>
    <div class="deadline">
      <div class="header"><i class="icon-time"></i> <strong>Submission Deadline</strong></div>
      <span><%= @session.end_date.strftime("%b %e, %Y") %> Midnight(PST)</span>
    </div>
  </div>
</div>

