<% if @current_member.try(:admin?) %>
<div class="row">
  <%= render :partial => 'shared/action_buttons', :locals => { :object => @session } %>
</div>
<% end %>

<div class="row">
  <div class="span8">
    <%= image_tag @session.image_url %>
    <% if @session.active? %>
      <%= render :partial => 'submission_form' %>
    <% else %>
      <%= render :partial => 'playlist' %>
    <% end %>
    <% if @current_member.try(:admin?) %>
      <%= link_to "View Submissions", session_submissions_path(@session) %>
    <% end %>
  </div>
  <div class="span4">
    <h2><%= title @session.title %></h2>
    <p><%= simple_format(@session.description) %></p>
    <% if @session.attachment_url? %>
      <%= link_to(@session.attachment_url, :class => "btn btn-primary") do %>
        <i class="icon-white icon-download-alt"></i> Download Samples
      <% end %>
    <% end %>
    <div class="deadline">
      <div class="header"><i class="icon-time"></i> <strong>Submission Deadline</strong></div>
      <span><%= @session.end_date.strftime("%B %e, %Y") %> 23:59 (PST)</span>
    </div>
  </div>
</div>

