<% if admin? %>
<div class="row">
<%= render :partial => 'shared/action_buttons', :locals => { :object => @session } %>
</div>
<% end %>
<div class="row">
  <div class="span8">
    <%= image_tag @session.image_url %>
  </div>
  <div class="span4">
    <h3><%= @session.title %></h3>
    <p><%= simple_format(@session.description) %></p>
    <%= link_to("Download", @session.attachment_url, :class => "btn btn-primary") if @session.attachment_url? %>
  </div>
</div>