<% if @current_member.try(:admin?) %>
<div class="row">
  <%= render :partial => 'shared/action_buttons', :locals => { :object => @session } %>
</div>
<% end %>

<div class="row">
  <div class="span8">
    <%= image_tag @session.image_url %>
    <% if @session.active? %>
      <%= render :partial => 'submission_form' %>
    <% else %>
      <%= render :partial => 'playlist' %>
    <% end %>
    <% if @current_member.try(:admin?) %>
      <%= link_to "View Submissions", session_submissions_path(@session) %>
    <% end %>
  </div>
  <div class="span4 sidebar">
    <h2><%= title @session.title %></h2>
    <p><%= simple_format(@session.description) %></p>

    <% if @sample_packs.size == 1 %>
      <%= render partial: 'sample_pack', locals: { sample_pack: @sample_packs.first, sample_pack_name: 'Samples' } %>
    <% else %>
      <% @sample_packs.each_with_index do |sample_pack, index| %>
        <%= render partial: 'sample_pack', locals: { sample_pack: sample_pack, sample_pack_name: "Sample Pack #{index + 1}" } %>
      <% end %>
    <% end %>

    <div class="deadline">
      <div class="header"><i class="icon-time"></i> <strong>Submission Deadline</strong></div>
      <span><%= @session.end_date.strftime("%B %e, %Y") %> 23:59 (PST)</span>
    </div>
  </div>
</div>

