<h1>Submissions for <%= @session.title %></h1>

<div class="submissions-container">
	<% @submissions.each do |submission| %>
		<div class="media">
		  <%= link_to member_profile_path(submission.member), :title => submission.member.name, :class => 'pull-left' do %>
		    <%= image_tag submission.member.image(:small), :alt => submission.member.name %>
		  <% end %>
		  <div class="media-body">
        <%= link_to submission.title, submission.attachment_url, :data => { :type => :audio } %>
        <%= link_to "Download", submission.attachment_url %>
    		<div>by <%= link_to submission.member.name, member_profile_path(submission.member) %></div>
    	</div>
		</div>
	<% end %>
</div>
