<div class="media discussion">
  <a class="pull-left" href="#">
    <%= image_tag @member.image(:small), :alt => @member.name %>
  </a>
  <div class="media-body">
    <div class="control-group">
    <%= text_field :discussion, :subject, :placeholder => "Topic" %>
    </div>
    <div class="control-group">
    <%= text_area :discussion, :body, :placeholder => "Message", :rows => 10 %>
    </div>
    
    <div class="attachment-container"></div>

    <%= label :discussion, :members_only, :class => "checkbox last" do %>
      <%= check_box :discussion, :members_only %>
      Members only
    <% end %>
  </div>
</div>
<div class="pull-right">
  <button data-trigger="post" type="submit" class="btn btn-primary pull-right">Post</button>
</div>

<%= render '/shared/s3_uploader_form_jst' %>

<script type="text/javascript">
$(function() {
  Sensori.Discussion = new Sensori.Models.Discussion(<%= raw @discussion.to_json %>);
  Sensori.DiscussionView = new Sensori.Views.Discussion({
    model: Sensori.Discussion,
    el: $('.discussions-container')
  }).render();
});
</script>
