<div class="media discussion">
  <a class="pull-left" href="#">
    <%= image_tag @member.image(:small), :alt => @member.name %>
  </a>
  <div class="media-body">
    <div class="control-group">
    <%= text_field :discussion, :subject, :placeholder => "Topic" %>
    </div>
    <div class="control-group">
    <%= text_area :discussion, :body, :placeholder => "Message", :rows => 10 %>
    </div>
    <%= label :discussion, :attachment do %>
      Attachment:
      <%= file_field :discussion, :attachment, :class => 'inline' %>
    <% end %>
    <%= label :discussion, :members_only, :class => "checkbox last" do %>
      <%= check_box :discussion, :members_only %>
      Members only
    <% end %>
  </div>
</div>
<div class="pull-right">
  <button data-trigger="post" type="submit" class="btn btn-primary pull-right">Post</button>
</div>
<script type="text/javascript">
$(function() {
  Sensori.DiscussionView = new Sensori.Views.Discussion({
    model: new Sensori.Models.Discussion(<%= raw @discussion.to_json %>),
    el: $('.discussions-container')
  });
});
</script>
