<div class="media response">
  <%= link_to member_profile_path(response.member), :title => response.member.name, :class => 'pull-left' do %>
    <%= image_tag response.member.image(:small), :alt => response.member.name %>
  <% end %>
  <div class="media-body">
    <div class="media-timestamp">
      <%= time_ago_in_words(response.created_at) %> ago
    </div>
    <%= link_to response.member.name, member_profile_path(response.member), :title => response.member.name %>
    <%= response.body_html %>
  </div>
</div>
