<h3>Topic</h3>
<div class="media discussion">
  <a class="pull-left" href="#">
    <%= image_tag @discussion.member.image(:small), :alt => @discussion.member.name %>
  </a>
  <div class="media-body">
    <h5 class="media-heading"><%= @discussion.subject %></h5>
    <%= @discussion.body_html %>
  </div>
</div>
<h3>Responses</h3>
<% @responses.each do |response| %>
<div class="media discussion">
  <a class="pull-left" href="#">
    <%= image_tag response.member.image(:small), :alt => response.member.name %>
  </a>
  <div class="media-body">
    <%= response.body_html %> 
  </div>
</div>
<% end %>
<% if signed_in? %>
  <%= form_for(Response.new, :url => respond_discussion_path(@discussion)) do |f| %>
    <div class="media discussion">
      <a class="pull-left" href="#">
        <%= image_tag @member.image(:small), :alt => @member.name %>
      </a>
      <div class="media-body">
        <%= f.text_area :body, :placeholder => "Add a comment...", :rows => 2 %>
      </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right">Post</button>
  <% end %>
<% else %>
  <div class="login-to-reply">
    Log In to Reply 
    <%= link_to image_tag("http://connect.soundcloud.com/2/btn-connect-m.png", :class => 'soundcloud-connect'), members_sign_in_path %>
  </div>
<% end %>
<%= link_to 'Back', discussions_path %>
