<% if @discussion.editable?(@member) %>
  <%= render :partial => 'shared/action_buttons', :locals => { :object => @discussion } %>
<% end %>
<h3>Topic</h3>
<div class="media discussion">
  <%= link_to @discussion.member.profile_url, :title => @discussion.member.name, :class => 'pull-left', :target => :_blank do %>
    <%= image_tag @discussion.member.image(:small), :alt => @discussion.member.name %>
  <% end %>
  <div class="media-body">
    <div class="media-timestamp">
      Posted by <%= link_to @discussion.member.name, @discussion.member.profile_url, :title => @discussion.member.name, :target => :_blank %> <%= time_ago_in_words(@discussion.created_at)%> ago
    </div>
    <h5 class="media-heading"><%= @discussion.subject %></h5>
    <%= @discussion.body_html %>
  </div>
</div>
<h3>Responses</h3>
<div class="responses">
<% @responses.each do |response| %>
  <div class="media response">
    <%= link_to response.member.profile_url, :title => response.member.name, :class => 'pull-left', :target => :_blank do %>
      <%= image_tag response.member.image(:small), :alt => response.member.name %>
    <% end %>
    <div class="media-body">
      <div class="media-timestamp">
        <%= time_ago_in_words(response.created_at) %> ago
      </div>
      <%= link_to response.member.name, response.member.profile_url, :title => response.member.name, :target => :_blank %>
      <%= response.body_html %>
    </div>
  </div>
<% end %>
</div>
<% if signed_in? %>
  <div class="media response">
    <%= link_to @member.profile_url, :title => @member.name, :class => 'pull-left', :target => :_blank do %>
      <%= image_tag @member.image(:small), :alt => @member.name %>
    <% end %>
    <div class="media-body">
      <%= text_area :response, :body, :placeholder => "Add a comment...", :rows => 2 %>
    </div>
  </div>
  <div class="pull-right">
    <label class="checkbox">
      <input type="checkbox" id="discussion_notifications" checked="true"> Notify me on responses
    </label>
    <button data-trigger="post" type="submit" class="btn btn-primary pull-right">Post</button>
  </div>
<% else %>
  <div class="login-to-reply">
    Log In to Reply 
    <%= link_to image_tag("http://connect.soundcloud.com/2/btn-connect-m.png", :class => 'soundcloud-connect'), members_sign_in_path %>
  </div>
<% end %>
<%= link_to 'Back', @discussion %>
<script type="text/javascript">
$(function() {
  Sensori.DiscussionResponseView = new Sensori.Views.DiscussionResponse({
    model: new Sensori.Models.Discussion(<%= raw @discussion.to_json %>),
    collection: new Sensori.Collections.Responses(<%= raw @discussion.responses.to_json %>),
    el: $('.discussions-container')
  });
});
</script>
