<%= render :partial => 'breadcrumbs' %>
<% if @discussion.editable?(@current_member) %>
  <%= render :partial => 'shared/action_buttons', :locals => { :object => @discussion } %>
<% end %>
<h2><%= title @discussion.subject %></h2>
<div class="media discussion">
  <%= link_to member_profile_path(@discussion.member), :title => @discussion.member.name, :class => 'pull-left' do %>
    <%= image_tag @discussion.member.image(:small), :alt => @discussion.member.name %>
  <% end %>
  <div class="media-body">
    <div class="media-timestamp">
      <%= time_ago_in_words(@discussion.created_at)%> ago
    </div>
    <%= link_to @discussion.member.name, member_profile_path(@discussion.member), :title => @discussion.member.name %>
    <%= @discussion.body_html %>

    <% if @discussion.attachment_url.present? %>
      <div class="link-container">
        <%= link_to @discussion.attachment_name, @discussion.attachment_url %>
      </div>
    <% end %>
  </div>
</div>
<h4>Responses</h4>
<div class="responses">
  <%= render :partial => 'response', :collection => @responses %>
</div>
<% if signed_in? %>
  <%= render :partial => 'response_form' %>
<% else %>
  <div class="login-prompt">
    Log In to Reply 
    <%= link_to image_tag("soundcloud-connect.png", :class => 'soundcloud-connect'), members_sign_in_path %>
  </div>
<% end %>
<div class="clearfix"></div>
<%= render :partial => 'breadcrumbs', :locals => { :class_name => 'bottom' } %>
<script type="text/javascript">
$(function() {
  Sensori.DiscussionResponseView = new Sensori.Views.DiscussionResponse({
    model: new Sensori.Models.Discussion(<%= raw @discussion.to_json %>),
    collection: new Sensori.Collections.Responses(<%= raw @discussion.responses.to_json %>),
    el: $('.discussions-container')
  });
});
</script>
