<% if @discussion.editable?(@member) %>
  <%= render :partial => 'shared/action_buttons', :locals => { :object => @discussion } %>
<% end %>
<h3>Topic</h3>
<div class="media discussion">
  <%= link_to @discussion.member.profile_url, :title => @discussion.member.name, :class => 'pull-left', :target => :_blank do %>
    <%= image_tag @discussion.member.image(:small), :alt => @discussion.member.name %>
  <% end %>
  <div class="media-body">
    <div class="media-timestamp">
      Posted by <%= link_to @discussion.member.name, @discussion.member.profile_url, :title => @discussion.member.name, :target => :_blank %> <%= time_ago_in_words(@discussion.created_at)%> ago
    </div>
    <h5 class="media-heading"><%= @discussion.subject %></h5>
    <%= @discussion.body_html %>
  </div>
</div>
<h3>Responses</h3>
<% @responses.each do |response| %>
<div class="media discussion">
  <%= link_to response.member.profile_url, :title => response.member.name, :class => 'pull-left', :target => :_blank do %>
    <%= image_tag response.member.image(:small), :alt => response.member.name %>
  <% end %>
  <div class="media-body">
    <div class="media-timestamp">
      <%= time_ago_in_words(response.created_at)%> ago
    </div>
    <%= link_to response.member.name, response.member.profile_url, :title => response.member.name, :target => :_blank %>
    <%= response.body_html %>
  </div>
</div>
<% end %>
<% if signed_in? %>
  <%= form_for(Response.new, :url => respond_discussion_path(@discussion)) do |f| %>
    <div class="media discussion">
      <%= link_to @member.profile_url, :title => @member.name, :class => 'pull-left', :target => :_blank do %>
        <%= image_tag @member.image(:small), :alt => @member.name %>
      <% end %>
      <div class="media-body">
        <%= f.text_area :body, :placeholder => "Add a comment...", :rows => 2 %>
      </div>
    </div>
    <button type="submit" class="btn btn-primary pull-right">Post</button>
  <% end %>
<% else %>
  <div class="login-to-reply">
    Log In to Reply 
    <%= link_to image_tag("http://connect.soundcloud.com/2/btn-connect-m.png", :class => 'soundcloud-connect'), members_sign_in_path %>
  </div>
<% end %>
<%= link_to 'Back', @discussion %>
