<div class="media discussion-preview">
  <%= link_to discussion, :class => 'pull-left', :title => discussion.member.name do %>
    <%= image_tag discussion.member.image(:small), :alt => discussion.member.name, :class => "media-object" %>
  <% end %>
  </a>
  <div class="media-body">
    <h5 class="media-heading"><%= link_to discussion.subject, discussion %></h5>
    <%= truncate(discussion.body, :length => 100) %><%= link_to "Join discussion", discussion, :class => "pull-right" %>
  </div>
</div>
