<div class="media discussion-preview clickable" data-discussion-id="<%= discussion.slug %>">
  <%= link_to discussion, :class => 'pull-left', :title => discussion.member.name do %>
    <%= image_tag discussion.member.image(:small), :alt => discussion.member.name, :class => "media-object" %>
  <% end %>
  </a>
  <div class="media-body">
    <div class="media-timestamp">
      Last post <%= time_ago_in_words(discussion.last_post_at)%> ago
    </div>
    <% if discussion.response_count > 0 -%>
    <div class="comment-bubble"><%= discussion.response_count %></div>
    <% end -%>
    <h5 class="media-heading"><%= link_to discussion.subject, discussion %></h5>
    <%= truncate(discussion.body, :length => 100) %>
  </div>
</div>
