<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand <%= active_if(current_page?(root_path)) %>" href="/"></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <%= content_tag :li, link_to("Tips/Tutorials", tutorials_path), :class => active_if(current_page?(controller: "tutorials", action: "index")), :id => 'nav-tutorials' %>
          <%= content_tag :li, link_to("Sessions", sessions_path), :class => active_if(current_page?(controller: "sessions", action: "index")), :id => 'nav-sessions' %>
          <%= content_tag :li, :class => "dropdown", :id => "nav-community" do %> 
            <%= link_to "Community", "#", :class => "dropdown-toggle", :data => { :toggle => "dropdown" } %>
            <ul class ="dropdown-menu">
              <%= content_tag :li, link_to("Beats", beats_path), :id => 'nav-beats' %>
              <%= content_tag :li, link_to("Discussions", discussions_path), :id => 'nav-discussions' %>
              <%= content_tag :li, link_to("Playlists", "https://soundcloud.com/sensori-collective/sets", :target => "_blank"), :id => 'nav-discussions' %>
            </ul>
          <% end %>
        </ul>
        <% if signed_in? %>
          <div class="member-header dropdown pull-right">
            <a href="#" id="member-header-link" data-toggle="dropdown">
              <%= image_tag(@current_member.image(:small)) %>
              <span><%= @current_member.name %></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="member-header-link">
              <% if @current_member.try(:admin?) -%>
              <li><%= link_to "Features", features_path %></li>
              <% end -%>
              <li><%= link_to "Log Out", members_sign_out_path %></li>
            </ul>
          </div>
        <% else %>
          <%= link_to image_tag("soundcloud-connect.png", :class => 'soundcloud-connect pull-right'), members_sign_in_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
