<li class="span3">
  <%= content_tag :div, :class => "thumbnail", :data => { :track => track.stream_url, :artist => track.member.name, :title => track.title } do -%>
    <div class="thumbnail-wrapper">
      <%= image_tag track.artwork_url %>
      <a class="overlay" href="javascript:;"></a>
    </div>
    <p>
      <%= link_to track.permalink_url, :target => :_blank do %>
        <strong><%= track.member.name %></strong> - <%= track.title %>
      <% end %>
    </p>
  <% end -%>
</li>
