<li class="span3">
  <div class="thumbnail" data-track-id="<%= track.id %>">
    <div class="thumbnail-wrapper">
      <%= image_tag track.artwork_url %>
      <a class="overlay" href="javascript:;"></a>
    </div>
    <p>
      <%= link_to track.permalink_url, :target => :_blank do %>
        <strong><%= track.member.name %></strong> - <%= track.title %>
      <% end %>
    </p>
  </div>
</li>
