<li class="span3">
  <div class="thumbnail" data-track-id="<%= track.id %>">
    <div class="thumbnail-wrapper">
      <%= image_tag track.artwork_url %>
      <a class="overlay" href="javascript:;"></a>
    </div>
    <p>
      <% if member_profile_page?(@member) %>
        <%= link_to track.title, track.permalink_url, :target => :_blank %>
      <% else %>
        <%= link_to track.member.name, member_profile_path(track.member), :class => 'profile-link' %>
         - 
        <%= link_to track.title, track.permalink_url, :target => :_blank %>
      <% end -%>
    </p>
  </div>
</li>
