<form action="/tutorials/<%= slug %>/preview" method="POST" target="_blank">
  <input type="hidden" id="tutorial_title" name="tutorial[title]" value="<%= title %>" />
  <input type="hidden" id="tutorial_description" name="tutorial[description]" value="<%= description %>" />
  <input type="hidden" id="tutorial_youtube_id" name="tutorial[youtube_id]" value="<%= youtube_id %>" />
  <input type="hidden" id="tutorial_attachment_url" name="tutorial[attachment_url]" value="<%= attachment_url %>" />
  <input type="hidden" id="tutorial_body_html" name="tutorial[body_html]" value="<%= body_html %>" />
</form>