<div class="row about-header">
  <div class="span8 offset2">
    <%= image_tag "about-header.png", :alt => "We are ALL Sensori" %>
    <p>
Sensori is an initiative to unite and strengthen the San Diego beat community by sharing knowledge, bringing awareness, and building a foundation for current and next generation musicians to grow. This website was designed to be the source for this collective network to expand and learn from each other. Check out all of the different sections of the website to see all the ways you can contribute and gain.
    <p>
  </div>
</div>
<div class="row about-sections">
  <div class="span3">
    <div class="thumbnail">
      <%= image_tag "about-beats.png" %>
      <div class="caption">
        <h3>Beats</h3>
        <p>
        Stream the latest sounds from members of the community. Connect your Soundcloud account and share what you've been working on.
        </p>
      </div>
    </div>
  </div>
  <div class="span3">
    <div class="thumbnail">
      <%= image_tag "about-discussions.png" %>
      <div class="caption">
        <h3>Discussions</h3>
        <p>
        Join other members in different discussion forums: share production tips, share works in progress for feedback from the community, and talk about music in general.
        </p>
      </div>
    </div>
  </div>
  <div class="span3">
    <div class="thumbnail">
      <%= image_tag "about-tutorials.png" %>
      <div class="caption">
        <h3>Tips / Tutorials</h3>
        <p>
        Learn and share knowledge with other members with video tutorials, sharing production tips and how-to's.
        </p>
      </div>
    </div>
  </div>
  <div class="span3">
    <div class="thumbnail">
      <%= image_tag "about-sessions.png" %>
      <div class="caption">
        <h3>Sessions</h3>
        <p>
        Sessions are theme based beat challenges. Get involved and participate in the current session or listen to submissions from past sessions.
        </p>
      </div>
    </div>
  </div>
</div>
<div id="contact" class="row about-contact">
  <div class="span12">
    <a id="contact"></a>
    <h4>Questions? Interested in getting involved?</h4>
    <span>Feel free to contact us: </span>
<script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
"=48){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
".substr(0,ol);}f(\")53,\\\"r\\\\500\\\\710\\\\230\\\\020\\\\710\\\\Q000\\\\" +
"220\\\\@CH400\\\\EAFKBdFTHT|{qptypjxe{q`,3L-R0ig~`|'$Yila/l720\\\\430\\\\12" +
"0\\\\430\\\\:430\\\\610\\\\630\\\\200\\\\620\\\\120\\\\730\\\\630\\\\630\\\\"+
"320\\\\600\\\\430\\\\200\\\\730\\\\500\\\\710\\\\230\\\\771\\\\+7.(!R430\\\\"+
"a100\\\\]_KP720\\\\Wt\\\\620\\\\330\\\\\\\\\\\\]U[G_[500\\\\^GMJSFKG\\\"(f}" +
";o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;721=%y;i=+y)53==i(" +
"fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"          ;
while(x=eval(x));
//-->
//]]>
</script>
  </div>
</div>
