<div class="contact-us">
  <h1>Contact Us</h1>

  <%= form_tag send_feedback_path, :method => :post, :class => "contact-us" do %>
    <%= label_tag "name", "Name" %>
    <%= text_field_tag :name, "", :size => nil, :required => "required" %>

    <%= label_tag "email", "Email" %>
    <%= text_field_tag :email, "", :size => nil, :class => "email", :type => "email", :required => "required" %>

    <%= label_tag "message", "Message" %>
    <%= text_area_tag :message, "", :size => nil, :required => "required", :resizable => false %>

    <%= submit_tag "OK", :class => "blue-button" %>
  <% end %>
</div>