<h1>Remaking Classics: Zion I - Bird's Eye View</h1>
<h2>by DJ Costanza</h2>

<div class="tutorial well">

  <h3>Overview</h3>
  <p>In this tutorial I will be recreating the beat for <%= link_to "Bird's Eye View by Zion I", "http://www.youtube.com/watch?v=vYJCT8EqbtU", :target => "_blank" %> from their 2005 album <%= link_to "True And Livin'", "http://www.discogs.com/Zion I-True-Livin/master/192612", :target => "_blank" %> using Audacity, Reason, some records, an Akai MPD, and Recycle.</p>

  <h3>Why Recreate This Beat?</h3>
  <p>
    First and most importantly, it's one of my favorites!  I've been a fan of Zion I for a long time and I think Amp Live (the group's producer) is very under rated.
  </p>
  
  <p>
    Secondly, I already own the record with the original sample so it was convenient.
  </p>
  
  <h3>Recreating the Drums</h3>
  <p>
    Everyone has a different process for making beats.  For me it almost always starts with drums, then going through records I've already listened to and finding samples that sound good over them.  For this beat I already know the end result so I could start anywhere, but I'm going to stick with my normal technique.
  </p>

  <p>
    I listened to the Zion I beat to identify the type of drums used (specifically if there are breaks or if it's using a drum kit made of individual sounds).  I didn't hear any breaks so I'm going to create my own drum kit in Reason and attempt to match the sound of each drum: kick, snare, closed hi-hat, open hi-hat, and ride cymbal.
  </p>

  <p>
    I started by creating a separate mixer for my drums because I like to mix most drum sounds individually, and later mix the entire drum kit as a single channel on the main mixer (this also helps keep my projects more organized when I add a lot of drums).
  </p>

  <p>
    Next I added an NN-XT Advanced Sampler which will contain all my drum sounds.  In Reason many people use Redrum for drums.  It's simpler to set up than the NN-XT, but I find the NN-XT allows more fine-grained control for filter settings, layered drums, mute groups, and other settings which I find myself using frequently.  I also have an older version of Reason so I don’t have the Kong device available, otherwise I might use that.
  </p>

  <%= link_to image_tag("tutorial/1.png", :title => "Initial Reason project with Mixer, Drum Mixer, and an NN-XT added"), "javascript:;", :"data-lightbox" => true %>

  <h4>Kick Drum</h4>

  <p>
    I went through my drum library and chose a kick that sounded similar to the original when I decreased the pitch by about 7 semitones and adjusted the filter settings.
  </p>

  <%= link_to image_tag("tutorial/2.png", :title => "NN-XT filter settings for the kick drum sample"), "javascript:;", :"data-lightbox" => true %>

  <p>
    One element it's missing compared to the Zion I kick is a distorted or "blown out" effect.  To recreate that, I added a Scream device as a send effect on my drum mixer with the Damage Type parameter set to Overdrive.
  </p>
  
  <p>
    I also added a second Scream send effect using Digital distortion to give my kick a lo-fi, gritty sound.  You can use this Damage Type to emulate the sound of an old sampler like the <%= link_to "SP-1200", "http://www.vintagesynth.com/emu/sp1200.php", :target => "_blank" %>.
  </p>

  <p>
    I experimented with different levels of the Overdrive and Digital distortion on the kick until I got a sound I was satisfied with.
  </p>

  <p>
    Quick tip for Reason users based on my personal experience: Scream is a very powerful effects tool but it can be difficult to use because many of the included patches are overly distorted.  Because of this I usually start with a blank patch.
  </p>

  <%= link_to image_tag("tutorial/3.png", :title => "Scream digital distortion settings (available as a send effect on the drum mixer)"), "javascript:;", :"data-lightbox" => true %>

  <h4>Snare Drum</h4>

  <p>
    The next part of the drums was picking a snare sample to use.  I used the same process I used for the kick, searching through my drum library to find a similar sound.
  </p>

  <p>
    There's a slight reverb in the snare sample I picked, and I wanted to get rid of it to make the sound sharper.  I removed the reverb by decreasing the Sample End parameter to about 53% of the snare sample:
  </p>

  <%= link_to image_tag("tutorial/4.png", :title => "Decreasing the Sample End parameter of the snare drum to remove the existing reverb/tail"), "javascript:;", :"data-lightbox" => true %>
  
  <p>
    Now the sound is much sharper, and I'm going to add my own reverb back to the sound to make it less flat.  I added an RV-7000 device with a Snare Plate patch as another send effect on my drum mixer and set the wet/dry balance to mostly dry.  Then I put the snare drum on a separate output channel from the kick and adjusted the send effect levels for this mixer channel.
  </p>

  <h4>Closed Hi-Hat, Open Hi-Hat, Ride Cymbal</h4>

  <p>
    The next part of drums was adding the closed hi-hat, open hi-hat, and ride cymbal.  For these drums I only used a single mixer channel, and I used the same process of searching through my drum library for sounds similar to the original beat and adjusting the send effect levels.
  </p>
    
  <p>
    Here's my drum kit so far:
  </p>

  <%= link_to image_tag("tutorial/5.png", :title => "NN-XT drum kit setup with kick, snare, closed hi-hat, open hi-hat, and ride cymbal"), "javascript:;", :"data-lightbox" => true %>

  <p>
    With the samples arranged like this in the NN-XT, Pad Bank A on the MPD is set up to play the following samples:
  </p>

  <ul>
    <li>Pad 1: Kick</li>
    <li>Pad 2: Snare</li>
    <li>Pad 3: Closed Hi-Hat</li>
    <li>Pad 4: Open Hi-Hat</li>
    <li>Pad 8: Ride Cymbal</li>
  </ul>

  <%= link_to image_tag("tutorial/6.png", :title => "MPD pad layout"), "javascript:;", :"data-lightbox" => true %>
    
  <h3>Recording The Base Drum Pattern</h3>

  <p>
    The drum patterns change frequently throughout the song, but just to get started I’m going to quickly record a 4 bar loop that I'll use as the main pattern at first.  I’m not very coordinated at drumming so I record in layers.  The first layer is the snare, closed hi-hat, and open hi-hat.  The second layer is the kick pattern I was too uncoordinated to record with the other drums. 
  </p>

  <p>Here's the 4-bar pattern with both layers recorded on a single note lane:</p>
  
  <%= link_to image_tag("tutorial/7.png", :title => "4-bar drum pattern on a single note lane"), "javascript:;", :"data-lightbox" => true %>

  <p>
    After recording the pattern, I split the drums onto separate note lanes.  This makes it easier to do drum arrangements later on -- for example if I want to isolate the kick drum I can mute or delete the other note lanes.
  <p>

  <p>Here's the same pattern with separate note lanes for kick, snare, and hi-hats:</p>

  <%= link_to image_tag("tutorial/8.png", :title => "4-bar drum pattern with each drum split to a separate note lane"), "javascript:;", :"data-lightbox" => true %>

  <p>
    An alternative way to do this, which is probably better for live performance or on the fly adjustments, is to record a mixer track where you apply mute/solo to different channels.  If you’re using Redrum you could also set up different patterns and record a track where you automate which pattern is playing.
  </p>

  <p>
    Next I’m going to add a groove template to clean up any inconsistencies with my playing.  I set each note lane to use Groove Mixer Channel A1, and load an MPC-3000 52% Swing template onto that channel.  These groove templates don't come with Reason, they were created by a guy named <%= link_to "Peff", "http://www.peff.com/", :target => "_blank" %>.  They're very useful for hip-hop style beats and I definitely recommend them (<%= link_to "download them here!", "http://www.peff.com/journal/?p=295", :target => "_blank" %>).  The swing percentage is a value between 50-75%, and it affects the timing of the off-beat 16th notes (in this beat the kicks and open hi-hats).  At 50% all 16th notes are evenly spaced, and I chose the 52% template because the 16th notes in the Zion I beat are very close to evenly spaced.
  </p>

  <p>
    You can apply the groove template on a scale between 0-100%.  If it's at 0% it's as if you're not using anything at all, and at 100% it's fully quantized.  I set it in the middle at 71%, and it cleaned up the minor timing issues from my recording.
  </p>

  <%= link_to image_tag("tutorial/9.png", :title => "Adjusting the Groove Amount of the MPC-3000 groove template"), "javascript:;", :"data-lightbox" => true %>

  <p>
    Now I have the main 4-bar drum loop recorded, and I will use it as a base pattern while recording and arranging the samples before going back to add the drum changes.
  </p>

  <h3>Background of the Sample</h3>

  <p>
    The group that was sampled for this song is <%= link_to "The Alan Parsons Project", "http://en.wikipedia.org/wiki/The_Alan_Parsons_Project", :target => "_blank" %>, a progressive rock group active mainly between the late 70’s and mid 80’s.
  </p>

  <p>
    The group was a collaboration between Alan Parsons and Eric Woolfson, who co-wrote almost all the songs.  They hired studio musicians to play with them, so the lineup for everything from drums to keyboards to vocalists was constantly changing between albums and even song to song.  Because of this they don't necessarily have a consistent sound in terms of the instruments, but they do have a very distinct high quality of sound recording which is from Alan Parsons' background as a sound engineer.  He recorded Dark Side of the Moon for Pink Floyd, Abbey Road for The Beatles, and worked at Abbey Road Studios for a long time recording many other groups.
  </p>

  <p>
    If you’re digging for samples, their records are pretty easy to find and cheap, and there are a lot of interesting parts to sample especially on their earlier albums.  In particular I recommend their first album <%= link_to "Tales of Mystery and Imagination", "http://www.discogs.com/Alan-Parsons-Project-Tales-Of-Mystery-And-Imagination/master/4322", :target => "_blank" %> from 1976, their second album <%= link_to "I, Robot", "http://www.discogs.com/Alan-Parsons-Project-I-Robot/master/4338", :target => "_blank" %> from 1977, and the album with the sample used for Bird's Eye View, <%= link_to "Eye in the Sky", "http://www.discogs.com/Alan-Parsons-Project-Eye-In-The-Sky/master/4424", :target => "_blank" %> from 1982 which was their most commercially succesful release.
  </p>

  <%= link_to image_tag("tutorial/10.png", :title => "Costanza-approved Alan Parsons Project albums: \"Tales of Mystery & Imagination\" (1976), \"I, Robot\" (1977), and \"Eye in the Sky\" (1982)"), "javascript:;", :"data-lightbox" => true %>

  <p>
    Also notable on this album, the first song <%= link_to "Sirius", "http://www.youtube.com/watch?v=yCR85u9QngQ", :target => "_blank" %> is instantly recognizable to many people as it was used as background music for <%= link_to "introducing the Chicago Bulls lineup as far back as the Michael Jordan era", "http://www.youtube.com/watch?v=Zn6kiimEsYc", :target => "_blank" %>.
  </p>

  <p>
    The sample for this beat is from the last song on Eye in the Sky, <%= link_to "Old and Wise", "http://www.youtube.com/watch?v=rrdbpo7T8n4", :target => "_blank" %>.  It’s easy to find the sample, it’s right at the beginning of the song.  
  </p>

  <h3>Recording the Sample</h3>

  <p>
    I experimented with the pitch adjust on my turntable and found that I need to record the song playing at -12% of the original speed to match the sound of the Zion I beat.
  </p>

  <p>
    An alternative way to get the correct sample speed would be to record at normal speed (0%) and then pitch up or down as necessary in your sampler or recording software, but I’m <b>DJ</b> Costanza and I prefer to do as much as I can using turntables.
  </p>

  <h4>Audacity</h4>

  <p>
    I recorded the first minute of the song into Audacity, but I’m not going to import the full minute of audio into Reason.  Instead I created labels for 2 sections which I'll use to create the beat.
  </p>

  <p>
    The first section is an orchestra playing (I called it "loop-1" for some reason) and the second section is a piano:
  </p>

  <%= link_to image_tag("tutorial/11.png", :title => "Audacity project with orchestra and piano loop sections added"), "javascript:;", :"data-lightbox" => true %>

  <p>
    Neither of these sections is an exact loop at this point.  Audacity is very easy for recording audio, but when you have to get really precise with slicing up samples the interface is a little clumsy, so I usually create approximate slices and export them as WAV files which I will edit in more detail in Recycle.
  </p>

  <h4>Recycle</h4>

  <p>
    I imported the WAV files into Recycle and added slice points at the main notes of both loops.  I also made sure to disable all the EQ and Envelope settings in Recycle for both samples.  Sometimes these are interesting to try out but I mainly use Recycle for the easy-to-use slicing interface.
  </p>

  <p>Here's the orchestra loop with precise slices added:</p>

  <%= link_to image_tag("tutorial/12.png", :title => "Orchestra loop with precise slices in Recycle"), "javascript:;", :"data-lightbox" => true %>

  <h3>Adding the Samples to Reason</h3>

  <p>
    Back in Reason, I created another NN-XT connected to the main mixer and added all the sample slices from both Recycle files.  Next I selected all the samples, then right-clicked and selected Automap Zones Chromatically.  This assigns each selected sample to one pad, playing at the correct pitch.
  </p>

  <ul class="thumbnails">
    <li class="span5"><%= link_to image_tag("tutorial/13.png", :title => "Orchestra and piano samples added to NN-XT"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span5"><%= link_to image_tag("tutorial/14.png", :title => "Orchestra and piano samples added to NN-XT with \"Automap Zones Chromatically\" selected"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>

  <p>
    Right now if I play these samples they're going to overlap.  This is not what I want, instead I want the samples set up so I can only play one at a time -- in other words, if I play one sample and then a second before the first finishes, the first sample should be cut off and I should only hear the second sample being played.
  </p>

  <p>
    To achieve this, I made sure all the samples were grouped together, and then I adjusted Key Poly to 1 in the NN-XT Group Settings.
  </p>

  <ul class="thumbnails">
    <li class="span5"><%= link_to image_tag("tutorial/15.png", :title => "Grouping the samples together"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/16.png", :title => "Seting Key Poly to 1 in Group Settings"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>

  <h4>Amp Envelope Settings</h4>

  <p>
    By default each sample has a short release which means it only plays as long as you hold the pad down.  As soon as you release the pad, the sample stops playing.  Depending on your playing style you might want to keep the samples this way.  However for this beat I want to tap each pad once and have the entire sample play.
  </p>

  <p>
    To do this I’ll increase the Amp Envelope Release setting to a very high value (the initial value was 60 milliseconds, I increased it to 149 seconds).
  </p>

  <ul class="thumbnails">
    <li class="span2"><%= link_to image_tag("tutorial/17.png", :title => "Default Amp Envelope settings with a 60 millisecond Release"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/18.png", :title => "Amp Envelope Release setting increased to a high value"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>

  <p>
    One disadvantage of setting Amp Envelope Release to a high value is that you can no longer play a choppy sample pattern.  You can work around this by adding another sample zone in the same group, but intentionally leaving it empty so it triggers silence when played.
  </p>

  <%= link_to image_tag("tutorial/19.png", :title => "Adding a sample zone that triggers silence"), "javascript:;", :"data-lightbox" => true %>

  <p>
    A few more adjustments before I start recording the sample patterns...
  </p>

  <p>
    The intro and outro patterns both end with the sample currently on pad 8 (loop-1.rx2 [7]).  The intro and outro need a short, gradual release that fades out, but the rest of the song would still be easier to play with a long release that does not fade out.  I still had one open pad out of the 16 pads on bank A, so I made a copy of the sample playing on pad 8.  Then I moved the zones that were originally on pads 9-15 up one note each to pads 10-16.  I moved the copy of pad 8 to pad 9, and decreased the Amp Envelope Release to 1.27 seconds.
  </p>

  <ul class="thumbnails">
    <li class="span5"><%= link_to image_tag("tutorial/20.png", :title => "Duplicating the sample played on pad 8"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span5"><%= link_to image_tag("tutorial/21.png", :title => "Duplicate of the pad 8 sample moved to pad 9, with Amp Envelope Release set to 1.27 seconds"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>

  <p>
    Sometimes when you chop samples you can hear a pop or click right at the beginning. You can get rid of this by increasing the Amp Envelope Attack a bit so the sample fades in briefly instead of immediately playing at full volume (side note: Apollo Brown uses a similar technique <%= link_to "to great effect", "http://mellomusicgroup.bandcamp.com/track/options", :target => "_blank" %> <%= link_to "in a lot of", "http://mellomusicgroup.bandcamp.com/track/the-11th-hour", :target => "_blank" %> <%= link_to "his beats", "http://mellomusicgroup.bandcamp.com/track/never-in-a-million-years", :target => "_blank" %>).  I'm going to increase the Amp Envelope Attack on the orchestra samples from 0 to 34 milliseconds, just enough time so you'll be able to hear the samples fade in a little.
  </p>

  <%= link_to image_tag("tutorial/22.png", :title => "Increasing Amp Envelope Attack for all the orchestra samples from 0 to 34 millseconds"), "javascript:;", :"data-lightbox" => true %>

  <h3>Recording the Sample Patterns</h3>

  <p>
    Now that the samples are mapped out on the pads, I’m going to record the patterns used throughout the song.  I’ll record these using the same groove template as the drums to correct any minor timing issues.
  </p>

  <p>
    I spent time recording the full sample patterns for the song, broken down 4 bars at a time, and here it is laid out in the step sequencer.  I added a different color for each unique 4-bar pattern and separated the note lanes to reflect the song structure: intro, verse, hook, verse, extended hook, outro.  As you can see the intro and outro are identical and within the verses and hooks there are only 4 different patterns.
  </p>

  <%= link_to image_tag("tutorial/23.png", :title => "Sequencer with sample patterns recorded."), "javascript:;", :"data-lightbox" => true %>

  <h3>Adjusting the Drums</h3>

  <p>
    Once I had the samples recorded I tweaked some of the drums, starting with my kick which at this point was at a much lower volume than the Zion I version.  I duplicated the kick, and on the duplicate I added a low pass filter and decreased the gain.  After these changes when I play pad 1 it simultaneously plays two versions of the same kick drum: the original and the duplicate which boosts the overall volume on lower frequencies.
  </p>

  <p>
    I also noticed my ride cymbal was really low in the mix, probably because the samples play at a similar frequency and drown out the ride cymbal.  Since I had all the hi-hats and the ride cymbal on a single channel in my drum mixer, I fixed this by increasing the sample gain.
  </p>


  <ul class="thumbnails">
    <li class="span2"><%= link_to image_tag("tutorial/24.png", :title => "Duplicating the kick sample"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/25.png", :title => "Decreasing the gain on the duplicate kick"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/26.png", :title => "Adding a low pass filter on the duplicate kick"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/27.png", :title => "Increasing the gain on the ride cymbal"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>

  <h3>Adding the Bass</h3>

  <p>
    This sounds pretty good as just samples and drums but there’s no low end, so it’s time to add a bass.  I used a bass patch I made awhile ago, it’s a sampled bass note that’s mapped across a wide range of keys.
  </p>

  <p>
    The bass sample is a relatively short note, but by changing Play Mode to "FW-LOOP" and adding a loop point from 80% to 85% of the sample it will repeat and can be held for extended notes.  However once it reaches the loop point you can easily hear a very annoying clicking sound every time it repeats.  You can cover up this noise by adding a low pass filter, and since it's a bass note to begin with it won't change the sound too much.
  </p>

  <p>
    The bass line for this song is really simple, it’s only 3 notes.  I prefer playing more complex bass lines on my 25-key MIDI keyboard because I can visualize the notes of a scale better on piano keys, but because this is so simple I played it on my MPD.
  </p>

  <ul class="thumbnails">
    <li class="span5"><%= link_to image_tag("tutorial/28.png", :title => "NN-XT Settings for the sampled bass"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span5"><%= link_to image_tag("tutorial/29.png", :title => "Sequencer with the bass line fully recorded"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>
  
  <h3>Recording the Drum Patterns</h3>
  
  <p>
    Just like with the samples, I went through the entire Zion I song and matched my drum patterns to the original beat.  As I mentioned earlier, the drum patterns change much more frequently than the sample patterns, so it took me longer but I used the same process of breaking it down 4 bars at a time and recording the drums in layers if necessary.
  </p>

  <%= link_to image_tag("tutorial/30.png", :title => "Sequencer with the drums almost fully recorded"), "javascript:;", :"data-lightbox" => true %>

  <h4>Delayed Hi-Hat</h4>

  <p>
    One part of the drums that took a long time to recreate is a closed hi-hat variation that plays once at about <%= link_to "1:40", "http://www.youtube.com/watch?v=kWalf_ImbIw&t=1m40s", :target => "_blank" %> into the song.
  </p>

  <p>
    It's the same closed hi-hat that plays throughout the rest of the song, but it starts at a lower pitch, there’s a 32nd note delay added to it, and the pitch also decreases a bit as it’s played.
  </p>

  <p>
    I started by duplicating the hi-hat in my drum kit NN-XT and setting the output to a new mixer channel with the same settings as my first hi-hat mixer channel.
  </p>

  <p>
    Next I created a Digital Delay to use as an insert effect for this hi-hat.  Notice on the left side of the delay there are two switches labeled Unit and Step Length.  If Unit is set to Steps, the delay is tempo-synced in either 16th or triplet 8th note increments, depending on the Step Length setting.  Since I needed a 32nd note increment I couldn't use Steps, instead I needed to switch the Unit setting to MS (milliseconds).
  </p>

  <p>
    A 32nd note at 100 BPM is exactly 75 milliseconds (<%= link_to "here's a nice reference chart", "http://www.symbolicsound.com/cgi-bin/bin/view/Learn/BPM-Milliseconds-HertzChart", :target => "_blank" %>).  Bird's Eye View is 101 BPM so I used a slightly shorter value of 74 milliseconds.  This isn’t exact, but it plays for such a short time you won’t notice much difference.
  </p>

  <p>
    Finally I adjusted the wet/dry balance to the middle so the initial hi-hat and the delay are both heard around the same volume, and adjusted the feedback so the delay fades out after about 1 quarter note.
  </p>

  <ul class="thumbnails">
    <li class="span2"><%= link_to image_tag("tutorial/31.png", :title => "Duplicating the closed hi-hat"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/32.png", :title => "Adding a Digital Delay as an insert effect on the duplicate closed hi-hat"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/33.png", :title => "Final settings for hi-hat delay"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>

  <p>
    To recreate the effect of the hi-hat pitch decreasing as it plays I used the LFO1 section of the NN-XT:
  </p>

  <ol>
    <li>
      I set the Pitch parameter to a negative value which means the sample will start playing at its original pitch, and as the LFO1 waveform increases the sample pitch will decrease.
    </li>
    <li>
      I changed the waveform shape to the second option which is called "inverted sawtooth".  This waveform starts at its low value and increases at a linear rate until the end of the cycle when it reaches its high value (and when the second cycle starts it starts again from the low value).
    </li>
    <li>
      I enabled Key Sync, which means the waveform will always reset to the beginning when I play this sample.
    </li>
    <li>
      I changed the LFO-1 waveform frequency, and because my hi-hat is a short sample I need this to be a high value, otherwise you won’t be able to hear any change while it plays.  I picked a tempo-synced 16th note.
    </li>
    <li>
      I added a slight delay so the LFO isn’t triggered immediately.
    </li>
  </ol>

  <p>
    Okay that was pretty complicated!
  </p>

  <p>
    To summarize the LFO1 changes:  Whenever I play my hi-hat, after a 23 millisecond delay the pitch will decrease from the original value by about 1 octave, and this will happen over the course of one 16th note.
  </p>

  <p>
    That’s a lot of work for one note!  Unfortunately I still wasn't able to recreate this sound as accurately as I would have liked, but it definitely increased my understanding of what I can do with LFO’s.
  </p>

  <ul class="thumbnails">
    <li class="span2"><%= link_to image_tag("tutorial/34.png", :title => "Delayed Hi-Hat LFO1 Settings: Decreasing Pitch"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/35.png", :title => "Delayed Hi-Hat LFO1 Settings: Changing waveform shape to Inverted Sawtooth"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/36.png", :title => "Delayed Hi-Hat LFO1 Settings: Making sure Key Sync is enabled"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/37.png", :title => "Delayed Hi-Hat LFO1 Settings: Changing the LFO rate to 1/16th note"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/38.png", :title => "Delayed Hi-Hat LFO1 Settings: Adding a slight delay to the LFO waveform start"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>

  
  <h3>Adjusting the Samples</h3>

  <p>
    At this point I noticed something I missed earlier when adding the samples.  In the Zion I beat, whenever the orchestra loop is playing the piano loop is also playing as a second layer at low volume.  This happens throughout the entire song with the exception of the intro and outro.
  </p>  

  <p>
    I came up with a quick fix for this using velocity layers in the NN-XT, but first I needed to go back to Recycle to edit the piano sample a bit.  In order for the piano slices to match up to the orchestra slices, I needed to remove two slice points and save it as a separate file.
  </p>

  <ul class="thumbnails">
    <li class="span2"><%= link_to image_tag("tutorial/39.png", :title => "Piano loop sliced up in Recycle"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/40.png", :title => "Piano loop sliced up to match the orchestra loop slice points"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>

  <p>
    Velocity is basically how hard you press a pad or key, so generally on a real instrument like a piano the more velocity you use the louder it plays.  On virtual instruments like the NN-XT, increased velocity can mean loudness, but it can also control other things like filter frequency (by default it does nothing).
  </p>

  <p>
    All notes in Reason use a velocity value between 1 and 127, and when you add samples to the NN-XT by default they play at any velocity value.  I’m going to change the piano notes so they only play when a note has velocity of 15 or higher.  Now any note on pads 5 through 8 with a velocity between 15 and 127 will play both samples -- this is basically every note with my normal playing style.  Any note on these pads with a velocity between 1 and 15 will not play the piano, they will only play the orchestra.
  </p>

  <p>
    I’m going to manually edit the notes I played in the intro so they are all playing at velocity 10.  Now the intro and outro play only the orchestra, and everything else plays piano and orchestra.
  </p>

  <ul class="thumbnails">
    <li class="span2"><%= link_to image_tag("tutorial/41.png", :title => "NN-XT without layered piano samples"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/42.png", :title => "NN-XT with layered piano samples added on pads 5-8"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/43.png", :title => "Adjusting the piano samples to only play with a velocity range of 15-127"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/44.png", :title => "Sequencer view of the intro"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span2"><%= link_to image_tag("tutorial/45.png", :title => "Sequencer view of the intro after manually editing the notes with a low velocity so the piano layer will not be played"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>
  
  <h3>Bird Chirp Sound Effect</h3>
  <p>
    Probably my favorite part of remaking this beat was adding the bird chirping sound that plays during the intro, hook, and outro.  My first idea was to look through built-in Reason patches to find a sound effect or synth, but I didn’t find anything I could use.  Instead I decided to sample myself whistling.
  </p>

  <p>
    I recorded myself whistling a few times into Audacity, and I picked the one that sounded the best and had the least ambient noise.  I was very accurate on the pitch but it was a little shorter than the sound used in the Zion I beat, so I used a time stretch effect in Audacity to make it a bit longer.
  </p>

  <ul class="thumbnails">
    <li class="span5"><%= link_to image_tag("tutorial/46.png", :title => "My whistling attempts recorded in Audacity"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span5"><%= link_to image_tag("tutorial/47.png", :title => "The best sounding whistle with a time stretch effect added to increase the duration"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>

  <p>
    I added the whistle sample as part of my NN-XT drum kit in Reason on the next open pad and output channel.  I added a low pass filter to reduce the ambient noise, some panning using LFO2, and some of the reverb effect used for the snare.
  </p>

  <p>
    Next I routed the whistle output channel into another Digital Delay insert effect, and just like with the delayed hi-hat I adjusted the wet/dry balance to the middle so you can hear both the initial whistle and the delay.  I set the delay length to a quarter note at first, but this sounded too synced to the tempo.  I switched it to a millisecond value slightly slower than a quarter note.  After this I recorded myself playing the whistle on a new note lane.
  </p>

  <p>
    I’ve never sampled myself before, and considering this was just using my laptop microphone I’m surprised how quick and easy it was to get a usable sound!  I will definitely be trying this out more in the future for percussion or random sound effects...
  </p>

  <ul class="thumbnails">
    <li class="span5"><%= link_to image_tag("tutorial/48.png", :title => "Whistle and Delay added to NN-XT drum kit"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span5"><%= link_to image_tag("tutorial/49.png", :title => "Recording the whistle in the sequencer"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>

  <h3>Mixing the Beat</h3>
  <p>
    Now the beat has been fully sequenced, and I’m going to improve the mix.  Since I’m recreating this beat, I have a reference point for what everything should sound like.  I experimented with many different settings, and made these final adjustments:
  </p>

  <p>
    I slightly increased the volume of the isolated piano samples in the NN-XT. 
  </p>

  <ul class="thumbnails">
    <li class="span5"><%= link_to image_tag("tutorial/50.png", :title => "Mix adjustments: piano sample gain (before)"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span5"><%= link_to image_tag("tutorial/51.png", :title => "Mix adjustments: piano sample gain (after)"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>

  <p>
    I had the drums, samples, and bass playing at the same volume in the main mixer, and slightly decreased the volume of the bass.
  </p>

  <ul class="thumbnails">
    <li class="span5"><%= link_to image_tag("tutorial/52.png", :title => "Mix adjustments: bass level (before)"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span5"><%= link_to image_tag("tutorial/53.png", :title => "Mix adjustments: bass level (after)"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>

  <p>
    In the mastering suite, I turned on the Punch setting in which enables some soft clipping settings, then I increased the gain on the maximizer input.  During the course of mixing I learned the purpose of a maximizer is to increase the overall volume of the mix without any clipping or distortion, so that was a good find!
  </p>
  <ul class="thumbnails">
    <li class="span3"><%= link_to image_tag("tutorial/54.png", :title => "Mix adjustments: Mastering suite (before)"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span3"><%= link_to image_tag("tutorial/55.png", :title => "Mix adjustments: Mastering suite with Punch enabled"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
    <li class="span3"><%= link_to image_tag("tutorial/56.png", :title => "Mix adjustments: Maximizer gain increased"), "javascript:;", :class => "thumbnail", :"data-lightbox" => true %></li>
  </ul>

  <p>
    After making the final adjustments, I exported my Reason song as a WAV file and opened it in Audacity alongside an instrumental version of the original beat.  Through visual comparison between the Zion I track and my remake, you can see I was able to get a pretty close match to the original beat.  Everything sounded good so I'm finished!
  </p>
  <%= link_to image_tag("tutorial/57.png", :title => "Original beat (top) and my remake (bottom) side by side in Audacity"), "javascript:;", :"data-lightbox" => true %>
  
  <p>
    Thank you for reading/watching this tutorial!
  </p>

  <p>
    - DJ Costanza
  </p>
</div>

<div id="tutorial-lightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
  <div class="lightbox-content">
    <img class="lightbox-image" />
    <div class="lightbox-caption"></div>
  </div>
</div>