<%
  tutorial_data = {
    id: @tutorial.id,
    title: @tutorial.title,
    description: @tutorial.description,
    youtube_id: @tutorial.youtube_id,
    body_components: @tutorial.body_components,
    member_id: @tutorial.member_id,
    attachment_url: @tutorial.attachment_url,
    slug: @tutorial.slug,
    published: @tutorial.published
  }
%>
<div id="tutorial-form-container" class="container">
  <%= form_for(@tutorial) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, :placeholder => "Title", :class => 'span6' %>

    <%= f.label :description %>
    <%= f.text_area :description, :placeholder => "Description", :rows => 5, :class => 'span6' %>

    <%= f.label :youtube_id, "YouTube Video ID" %>
    <%= f.text_field :youtube_id, :placeholder => "YouTube Video ID", :class => 'span6' %>
  <% end %>

  <label>Attachment:</label>
  <div class="attachment-container"></div>
  <div class="btn-group-container">
    <%= download_attachment_button(@tutorial) %>
  </div>
  
  <div class="editor well"><%= image_tag "loader.gif" %></div>

  <div clas="btn-group-container">
    <button class="btn btn-primary" data-trigger="add-more">Add More</button>
  </div>

  <div class="btn-group-container">
    <div class="btn-group"><%= button_tag "Save Changes", :class => "btn btn-primary", :"data-trigger" => "save-tutorial" %></div>
    <div class="btn-group"><%= button_tag "Preview Changes", :class => "btn btn-info", :"data-trigger" => "preview-tutorial", :style => (@tutorial.new_record? ? "display:none;" : "") %></div>
    <div class="btn-group"><%= button_tag "View Tutorial", :class => "btn btn-info", :"data-trigger" => "view-tutorial", :style => (@tutorial.new_record? ? "display:none;" : "") %></div>
    <div class="btn-group"><%= button_tag "Publish", :class => "btn btn-info", :"data-trigger" => "publish-tutorial", :style => (@tutorial.new_record? || @tutorial.published? ? "display:none;" : "") %></div>
  </div>
</div>

<%= render 's3_uploader_form_jst' %>
<script type="text/javascript">
Sensori.Tutorial = new Sensori.Models.Tutorial(<%= raw tutorial_data.to_json %>);
Sensori.TutorialView = new Sensori.Views.Tutorial({
  model: Sensori.Tutorial,
  el: $("#tutorial-form-container")
}).render();
</script>