<%= form_for(@tutorial, :html => { :multipart => true }) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :placeholder => "Title", :class => 'span6' %>
  <%= f.label :description %>
  <%= f.text_area :description, :placeholder => "Description", :rows => 5, :class => 'span6' %>
  <%= f.label :body %>
  <%= f.text_area :body, :placeholder => "Body", :rows => 10, :class => 'span6' %>
  <%= f.label :youtube_id, "YouTube Video ID" %>
  <%= f.text_field :youtube_id, :placeholder => "YouTube Video ID", :class => 'span6' %>
  <%= f.label :attachment %>
  <%= f.file_field :attachment %>
  <button type="submit" class="btn btn-primary clearfix">Post</button>
<% end %>
