<% if @tutorial.editable?(@current_member) %>
<div class="row">
<%= render :partial => 'shared/action_buttons', :locals => { :object => @tutorial } %>
</div>
<% end %>
<div class="row">
  <div class="span8">
    <div class="flex-video widescreen"><%= content_tag :iframe, nil, :type => "text/html", :src => @tutorial.youtube_embed_url, :frameborder => "0" %></div>
  </div>
  <div class="span4 sidebar">
    <h2><%= title @tutorial.title %></h2>
    <span class="attribution">by <%= link_to @tutorial.member.name, member_profile_path(@tutorial.member) %></span>
    <p><%= simple_format(@tutorial.description) %></p>
    <% if @tutorial.attachment_url.present? %>
      <%= link_to raw("<i class=\"icon-white icon-download-alt\"></i> Download Samples"), @tutorial.attachment_url, :class => "btn btn-primary attachment-button" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="span12">
    <div class="tutorial well">
      <%= @tutorial.body_html.html_safe %>
    </div>
  </div>
</div>

<div id="tutorial-lightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
  <div class="lightbox-content">
    <img class="lightbox-image" />
    <div class="lightbox-caption"></div>
  </div>
</div>
