<%= paginator.render do -%>
  <div class="pagination pagination-right">
    <ul>
      <%= first_page_tag %>
      <%= prev_page_tag %>
      <li><span>Page <%= current_page %> of <%= total_pages %></span></li>
      <%= next_page_tag %>
      <%= last_page_tag %>
    </ul>
  </div>
<% end -%>
