<!DOCTYPE html>
<html lang="en">
<head>
  <%= title :site => "Sensori Collective", :separator => "-", :reverse => true %>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//connect.soundcloud.com/sdk.js"></script>
  <script>
    SC.initialize(<%= { :client_id => Sensori::Soundcloud.client_id }.to_json.html_safe %>);
  </script>
  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <%= content_tag :body, :class => controller.controller_name do %>
    <div id="wrap">
      <%= render 'shared/navbar' %>
      <div class="container <%= controller.controller_name %>-container">
        <%= render 'layouts/messages' %>
        <% if signed_out? %>
          <%= render 'shared/join_message' %>
        <% end %>
        <%= yield %>
      </div>
      <div id="push"></div>
    </div>
    <%= render 'shared/footer' %>
    <script type="text/javascript">
      $(function() {
        Sensori.Player = new Sensori.Views.Player({
          collection: new Sensori.Collections.Tracks(<%= raw (@latest_tracks || @tracks).to_json %>),
          el: $('body')
        });
        <% if signed_in? -%>
        Sensori.Member = new Sensori.Models.Member(<%= raw @member.to_json %>);
        <% end -%>
        <% if flash[:signed_up] -%>
        Sensori.WelcomeMessageView = new Sensori.Views.WelcomeMessage({ el: $('body') });
        Sensori.WelcomeMessageView.show();
        <% end -%>
      });
      $(window).load(function() {
        $('.beats li').equalHeights();
        $('.about-sections .thumbnail').equalHeights();
      });
      $(window).resize(function() {
        $('.beats li').equalHeights();
        $('.about-sections .thumbnail').equalHeights();
      });
    </script>

  <% end %>
</html>
