<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sensori Collective</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//connect.soundcloud.com/sdk.js"></script>
  <script>
    SC.initialize(<%= { :client_id => Sensori::Soundcloud.client_id }.to_json %>);
  </script>
  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <%= content_tag :body, :class => controller.controller_name do %>
    <%= render 'shared/navbar' %>
    <div class="container">
      <%= render 'shared/join_message' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <script type="text/javascript">
    $("#play-button").click(function() {
      SC.stream("https://api.soundcloud.com/tracks/89803799/stream", {
        onbufferchange : function() { console.log(this.isBuffering); }
      }, function(sound){
        sound.play();
      });
    });
    </script>

  <% end %>
</html>
