<% if is_mobile_device? %>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN"
	"http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<% else %>
<!DOCTYPE html>
<% end %>
<html>
<head>
  <title>Sensori</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<%= content_tag :body, :class => controller.controller_name do %>
	
  <%= content_tag(:div, flash[:notice], :class => "flash notice") if flash[:notice] && params[:action] != "prelaunch" %>  
  <%= content_tag(:div, flash[:error], :class => "flash error") if flash[:error] %>  

  <%= yield %>

<% end %>
</html>
